body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


/* navbar */
.navbar {
    background-color: #FEE7C5;
    color: #5F4F35;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 5px 100px;
}

a {
    text-decoration-line: none;
    color: #8F6933;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

.links {
    display: flex;
    gap: 10px;
}

/* header */
.header {
    background-color: #FEE7C5;
    height: 350px;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header-button {
    flex: 0 0 30px;
    width: 100px;
}


.header-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #5F4F35;
    min-width: 400px;
    margin: 0px;
}

.header-secondary-text {
    font-size: 18px;
    color: #8F6933;
    max-width: 500px;
}

.header-image{
    width: 300px;
}