body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


/* navbar */
.navbar {
    background-color: #FEE7C5;
    color: #5F4F35;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 0px 250px;
}

.logo {
    color: #5F4F35;
}

a {
    text-decoration-line: none;
    color: #5F4F35;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

.links {
    display: flex;
    gap: 10px;
}

/* header */
.header {
    background-color: #FEE7C5;
    height: 380px;
    display: flex;
    justify-content: space-between;
    padding: 0px 250px;
}

.header-right {
    padding: 0;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-button {
    flex: 0 0 30px;
    width: 100px;
}


.header-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #5F4F35;
    min-width: 400px;
    margin: 0px;
}

.header-secondary-text {
    font-size: 18px;
    color: #8F6933;
    max-width: 500px;
}

.header-image {
    width: 300px;
}

/* body */
.body {
    background-color: #5F4F35;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 500px;
}

.image-row-item {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.body-header-text {
    font-size: 36px;
    font-weight: 900;
    color: #FEE7C5;
}

.sub-text {
    color: #FEE7C5;
    text-align: center;
}