@font-face {
  font-family: cutesy; 
  src: url('fonts/cutesy.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cutesy, serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #FEE7C5;
}

button {
    font-family: cutesy, serif;
    font-size: 18px;
    background-color: #5F4F35;
    border-color: #FEE7C5;
    color: #FEE7C5;
    padding: 5px 10px;
    border-radius: 20%;
}

/* navbar */
.navbar {
    background-color: #FEE7C5;
    color: #5F4F35;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
}

.logo {
    color: #5F4F35;
}

a {
    text-decoration-line: none;
    color: #5F4F35;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

.links {
    display: flex;
    gap: 10px;
    min-width: 80px; /*so that the text doesnt wrap*/
}

/* header */
.header {
    background-color: #FEE7C5;
    height: 380px;
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
}

.header-right {
    padding: 0;
    max-width: 50%;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-button {
    flex: 0 0 30px;
    width: 100px;
}

.header-image {
    max-width: 280px;
}

/* header text formatting */

.header-main-text {
    font-size: 52px;
    font-weight: 900;
    color: #5F4F35;
    min-width: 50%;
    margin: 0px;
}

.header-secondary-text {
    font-size: 21px;
    color: #8F6933;
    /* max-width: 500px; */
}


/* body */
.body {
    background-color: #5F4F35;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 500px;
    padding: 0px 200px;
}

.image-row-item {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.row-1, .row-2, .row-3, .row-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* body text formatting  */

.body-header-text {
    font-size: 40px;
    font-weight: 900;
    color: #FEE7C5;
}

.sub-text {
    font-size: 20px;
    color: #FEE7C5;
    text-align: center;
}

/* guote */

.quote-body {
    background-color: #FEE7C5;
    text-align: center;
    padding: 30px;
}

blockquote {
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    color: #5F4F35;
    margin: auto;
}

.quote-name {
    font-size: 20px;
    color: #8F6933;
}

/* call to action */

.call-to-action {
    border-radius: 10px;
    background-color: #8F6933;
    padding: 10px 50px;
    margin: 30px 200px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.cto-left {
    color: #FEE7C5;
}

.cto-main {
    font-size: 21px;
    font-weight: bold;
}

.cto-sub {
    font-size: 18px;
}

.cto-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

/*footer*/

.footer {
    background-color: #5F4F35;
    color: #FEE7C5;
    display: flex;
    justify-content: center;
}